.blackjackbg-image {
    background-image: url('./assets/blackjack-background.png');
}

.card-container {
    max-width: 100%;
    width: auto;
}

.card-container img {
    max-width: 100%;
    height: auto;
}